#Japan{
    width: 300px;
    height: 150px;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}
#WHITE{
    width: 300px;
    height: 50px;
    background-color: white;
}
#India{
    width: 300px;
    height: 150px;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
}
#Orange{
    width: 300px;
    height: 50px;
    background-color: orange;
}
#White{
    width: 300px;
    height: 50px;
    background-color: white;
}
#Green{
    width: 300px;
    height: 50px;
    background-color: green;
}
#Flag3{
    width: 300px;
    height: 150px;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
}
#Black{
    width: 300px;
    height: 50px;
    background-color: black;
}
#Red{
    width: 300px;
    height: 50px;
    background-color: red;
}
#Yellow{
    width: 300px;
    height: 50px;
    background-color: yellow;
}
#Flag4{
    width: 300px;
    height: 150px;
    color: white;
    border: 1px solid black; 
    margin-bottom: 10px;
    margin-top: 10px; 
}
#white{
    width: 300px;
    height: 50px;
    background-color: white;
}
#blue{
    width: 300px;
    height: 50px;
    background-color: blue;
}
#red{
    width: 300px;
    height: 50px;
    background-color: red;
}
#Flag5{
    width: 300px;
    height: 150px;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
}
#rEd{
    width: 300px;
    height: 75px;
    background-color: red;
}
#wHite{
    width: 300px;
    height: 75px;
    background-color: white;
}
#Flag6{
    width: 300px;
    height: 150px;
    color: white;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
}
#bLue{
    width: 300px;
    height: 50px;
    background-color: blue;
}
#bLack{
    width: 300px;
    height: 50px;
    background-color: black;
}
#whIte{
    width: 300px;
    height: 50px;
    background-color: white;
}
#Flag7{
    width: 300px;
    height: 150px;
    color: white;
    border: 1px solid black;  
    margin-bottom: 10px;
    margin-top: 10px;
}
#yEllow{
    width: 300px;
    height: 50px;
    background-color: yellow;
}
#reD{
    width: 300px;
    height: 50px;
    background-color: red;
}
#gReen{
    width: 300px;
    height: 50px;
    background-color: green;
}
#Flag8{
    width: 300px;
    height: 150px;
    color: white;
    border: 1px solid black;  
    margin-bottom: 10px;
    margin-top: 10px;
}
#blUe{
    width: 300px;
    height: 75px;
    background-color: blue;
}
#yeLlow{
    width: 300px;
    height: 75px;
    background-color: yellow;
}
#Flag9{
    width: 300px;
    height: 150px;
    color: white;
    border: 1px solid black;  
    margin-bottom: 10px;
    margin-top: 10px;
}
#whiTe{
    width: 300px;
    height: 75px;
    background-color: white;
}
#RED{
    width: 300px;
    height: 75px;
    background-color: red;
}
#Flag10{
    width: 300px;
    height: 150px;
    color: white;
    border: 1px solid black;  
    margin-bottom: 10px;
    margin-top: 10px;
}
#mahroon{
    width: 300px;
    height: 50px;
    background-color: maroon;
}
#whitE{
    width: 300px;
    height: 50px;
    background-color: white;
}
#Mahroon{
    width: 300px;
    height: 50px;
    background-color: maroon;
}